
body {
  background-color: white;
}

#container {
  width: 95%;
  margin: 0 auto;
}

img {
  border: none;
  width: 85%;
}

h1 {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  color:black;
}

h2 {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  color: black;
}

p {
  font-family: 'Oswald', Helvetica, Arial, sans-serif;
  color: black;
}

nav ul {
  display: flex;
  flex-flow: column;
}

@media screen and (min-width: 600px) {

    nav ul {
        flex-flow: row;
        justify-content: space-between;
    }

}

@media screen and (min-width: 600px) {

    #container {
        width: 75%;
    }

    img {
      display: block;
      width: 66%;
      margin-top: 0.5em;
      max-width: 500px;
      float: left;
      margin-right: 25px;
    }
}

@media screen and (min-width: 800px) {
    .item1 {
      margin-right: auto;
    }

    nav ul li {
      margin: 5px;
    }
}

@media screen and (min-width:1000px) {
  #container {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
    "a a a"
    "b b c"
  }

  nav {
    width: 100%;
    grid-area: a;
  }

  img {
    width: 100%;
    grid-area: b;

  }

  p {
    grid-area: c;
  }

}
