a:visited {
  text-decoration: none;
  color: white;
}

img {
  border: none;
  width: 100%;
}

.photo_aside {
  width: 40%;
  float: left;
  margin-right: 10px;
}

body {
  background-color: #414142;
}

p {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: white;
}

h1 {
  font-family: 'Merriweather', Georgia, "Times New Roman", serif;
  color:#FFE993;
}

h2 {
  font-family: 'Merriweather', Georgia, "Times New Roman", serif;
  color: #9DA699;
}

#container {
  width: 95%;
  margin: 0 auto;
}

.caption {
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  text-align: left;
  margin-top: 5px;
}

#nav {
  padding: 0;
  display: flex;
  flex-direction: column;
}

#nav li {
  list-style-type: none;
}

#nav a:link {
  display: block;
  color: #ffffff;
  background-color: #9DA699;
  font-weight: bold;
  text-align: center;
  font-family: 'Merriweather Sans', Helvetica, Arial, sans-serif;
  padding: 4px;
  text-decoration: none;
}

#nav a:hover, #nav a:active, {
  background-color: #7a991a;
  text-decoration: underline;
}

#nav a:visited {
  color: white;
}

@media (min-width: 600px) {
	#nav {
		flex-direction: row;
		justify-content: center;
	}
}

.box {
  background-color: #ccc;
  position: sticky;
  width: 200px;
  top: 20px;
}
